.meme-section {
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-block-start: 95px;
}


canvas {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-inline-end: 50px;
}

.editor-container {
    margin-block-start: 20px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 10%;
    border-radius: 15px;
}

.btn {
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 30px;
}

.btn:hover, label:hover  {
    filter:brightness(120%)
}


#text-input {
    width: 80%;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid black;
    align-self: center;
    text-align: center;
}

.line-btns-container {
    display: flex;
    justify-content: center;
    align-items: normal;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.line-btns-container .btn {
    width: 50px;
    margin: 20px;
}

.style-btns-container {
    display: flex;
    justify-content: center;
    align-items: normal;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.option-btns-container {
    text-align: center;
}

.style-btns-container button,
.style-btns-container select,
.style-btns-container input {
    height: 30px;
    margin: 14px;
}

#font-dropdown, #align-dropdown {
    border-radius: 10px;
    border: 2px solid black;
}

.inner-option-btns-container {
    display: flex;
    justify-content: center;
    align-items: normal;
    margin-block-start: 10px;
    margin-block-end: 10px;
    font-family: Potta;
}

.inner-option-btns-container .btn {
    width: 100px;
    min-height: 40px;
    margin: 15px;
    font-family: Potta;
}

.inner-option-btns-container .download-btn {
    line-height: 24px;
}

.share-btn div, .download-btn div, .add-img-input-label div, .save-btn div {
    font-size: 15px;
}

.add-img-input-label div {
    margin-block-start: 5px;
}


.change-fontclr-input {
    border: 2px solid black;
    border-radius: 10px;
}

.press-effect {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2628aa;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #00000070;
    transition: 0.2s;
}


.press-effect:active {
    box-shadow: 0 5px rgba(0, 0, 0, 0.301);
    transform: translateY(4px);
}


.add-line-btn {
    background-color: green;
}

.remove-line-btn {
    background-color: rgb(180, 32, 32);
}

.random-btn {
    background-color: purple;
}

.switch-line-btn {
    background-color: rgb(170, 170, 27);
}

.increase-fontsize-btn, .decrease-fontsize-btn {
    width: 40px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}

.increase-fontsize-btn:hover, .decrease-fontsize-btn:hover {
    background-color: rgb(32, 32, 32);
}

.add-img-input {
    display: none;
}

.add-img-input-label {
    align-self: center;
    padding: 10px;
    margin: 15px;
}

table td {
    cursor: pointer;
    font-size: 40px;
}

.next-page-btn, .previous-page-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.next-page-btn{
    margin-inline-end: 50px;
}

.previous-page-btn {
    margin-inline-start: 50px;
}

.fa-caret-left, .fa-caret-right {
    font-size: 30px;
    background-color: transparent;
}

.fa-circle-down {
    margin-block-start: 10px;
}

input, select {
    cursor: pointer;
}

.emoji-row-container {
    margin-block-start: 20px;
}

.save-modal-container {
    bottom: -100%;
    border-radius: 15px;
    position: fixed;
    background-color: black;
    color: white;
    transition: bottom 0.5s ease;
    padding: 15px;
    right: 5%;
    transform: translateX(-50%);
    font-size: 30px;
    font-family: Potta;
}

.save-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal h3 {
    margin: 0;
}