@font-face {
    font-family: Mogra;
    src: url("/fonts/Mogra-Regular.ttf")
}
@font-face {
    font-family: Swanky;
    src: url("/fonts/FontdinerSwanky-Regular.ttf")
}
@font-face {
    font-family: Potta;
    src: url("/fonts/PottaOne-Regular.ttf")
}