.main-footer {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: var(--bgImgHeaderFooter);
    margin-block-start: 15px;
    color: white;
    margin-top: auto;
    font-family: Potta;
}

.footer-container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}