
.main-header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: var(--bgImgHeaderFooter);
    margin-block-end: 15px;
}

.header-container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.main-nav-container ul {
    list-style-type: none;
    display: flex;
}

.main-nav-container ul li {
    border-color: #1d1d1d;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 70px;
    font-family: Potta;
}

.main-nav-container ul li a{
    text-decoration: none;
    color: white;
}

.main-header {
    background-color: var(--clrBackgroundHeaderFooter);
    color: white;
}

.main-header .logo {
    font-family: Mogra;
    font-size: 40px;
    margin-left: 20px;
}

.nav-li-selected {
    border-bottom: 5px solid;
}

img {
    width: 100%;
}